# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
/build/
build/
build_app.sh
build_all.sh
build_test.sh
run-test.sh

# Cache
/.cache/
.cache/

# Clangd
/.clangd/
.clangd/
.clangd
